
<ion-header>
  <ion-toolbar class="study-planner">
    <ion-title>Study Planner</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="studyForm" (ngSubmit)="onSubmit()">
   
      <ion-grid>
        <ion-row>
          <ion-col> <div class="form-group">
            <label for="topic">Topic of Study *</label>
            <input type="text" id="topic" formControlName="topic" class="form-control">
          </div>
        </ion-col>
  
          <ion-col> <div class="form-group">
            <label for="duration">Duration *</label>
            <input type="text" id="duration" formControlName="duration" class="form-control">
          </div>
        </ion-col>
  
          <ion-col><div class="form-group">
          <label for="startDate">Start Date *<br></label>
          <input type="date" id="startDate" formControlName="startDate" class="form-control">
        </div>
      </ion-col>
        </ion-row>
        <ion-row>
          <div class="form-group">
            <label for="background">Background/Experience *<br></label>
            <textarea id="background" formControlName="background" class="form-control" rows=5% cols=80%></textarea>
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
          <div class="form-group">
            <label for="studyDays">Days Available for Study</label>
            <ion-list>
              <ion-list-header>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Monday"> Monday</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Tuesday"> Tuesday</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Wednesday"> Wednesday</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Thursday"> Thursday </ion-label>
              </ion-item>
              <ion-item>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Friday"> Friday</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Saturday"> Saturday</ion-label>
              </ion-item>
              <ion-item>
                <ion-label><input type="checkbox" formControlName="studyDays" value="Sunday"> Sunday </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
  
      <ion-col><div class="form-group">
        <label for="studyFrames">Times Available for Study</label>
        <div>
          <label><input type="time" formControlName="studyFrames" multiple> Specify times</label>
        </div>
      </div></ion-col>
  
        </ion-row>
  
       
  
  
      </ion-grid>
  

  
  
      <button type="submit" [disabled]="!studyForm.valid" class="btn btn-primary">Generate Study Plan</button>
    </form>
  
    <div *ngIf="studySchedule.length > 0" class="study-schedule">
      <h3>Generated Study Schedule</h3>
      <ul>
        <li *ngFor="let item of studySchedule">{{ item }}</li>
      </ul>
    </div>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        Radio
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="library"></ion-icon>
        Library
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>



